## Problem 1
Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find the 10 countries with the lowest infant mortality rates.

In [2]:
from xml.etree import ElementTree as ET
import pandas as pd

In [8]:
# Get data.
document_tree = ET.parse("data/mondial_database.xml",)
document_root = document_tree.getroot()

# Create a data frame for infant mortality rates.
df_country_inf_mort = pd.DataFrame(columns=["Country", "Infant Mortality"])

# Use an iterator to get the country name and, if it is available, the infant mortality rate.
for country in document_root.getiterator("country"):
    country_name = country.find("name").text
        
    if country.findall("infant_mortality") is None:
        continue;
        
    for inf_mort in country.findall("infant_mortality"):
        inf_mort_num = inf_mort.text
        
        df_country_inf_mort = df_country_inf_mort.append(
        {
            "Country": country_name,
            "Infant Mortality": inf_mort_num
        }, ignore_index=True)
            
# Check the data.
df_country_inf_mort.head()

     Country Infant Mortality
0    Albania            13.19
1     Greece             4.78
2  Macedonia              7.9
3     Serbia             6.16
4    Andorra             3.69

In [9]:
# Make a copy of the data frame. 
df_country_inf_mort_c = df_country_inf_mort.copy()

# Change the infant mortality column to numeric so that it can be sorted.
df_country_inf_mort_c["Infant Mortality"] = pd.to_numeric(df_country_inf_mort_c["Infant Mortality"])

# Sort the table by infant mortality rates.
df_country_inf_mort_c.sort_values("Infant Mortality", ascending=True)[0:10]

            Country  Infant Mortality
36           Monaco              1.81
90            Japan              2.13
109         Bermuda              2.48
34           Norway              2.48
98        Singapore              2.53
35           Sweden              2.60
8    Czech Republic              2.63
72        Hong Kong              2.73
73            Macao              3.13
39          Iceland              3.15